@page "/function"
@inject HttpClient Http

<h1>Function</h1>

<input type="text" bind="@num1" />
<br /><br />
<input type="text" bind="@num2" />

<br /><br />

<button class="btn btn-primary"
        onclick="@ConnectToFunction">
    Check the function
</button>

<br /><br />

<p>@display</p>

@functions {

    const string Url = "https://lbcalculator.azurewebsites.net/api/add/num1/{num1}/num2/{num2}?code=r9o3qY/Zy0slf4IddK0qq8dNxkDraglwGKaKaCp3D8PFGAorrWosIQ==";

    int num1 = 12;
    int num2 = 30;
    string display = "Nothing yet";

    private async Task ConnectToFunction()
    {
        display = "Please wait...";

        var result = await Http.GetJsonAsync<FunctionResult>(
            Url
                .Replace("{num1}", num1.ToString())
                .Replace("{num2}", num2.ToString()));

        display = result.Result.ToString();
    }

    class FunctionResult
    {
        public int Result { get; set; }
    }
}
